{% extends "base.html.twig" %}

{% block title %}{{post.title}}{% endblock %}
{% block header_title %}{{post.title}}{% endblock %}
{% block body %}
 <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    {{post.body}}
                </div>
            </div>
        </section>
{% endblock %}
