{% extends 'admin.html.twig' %}

{% block metaTitle %}List of posts{% endblock %}
{% block title %}List of posts{% endblock %}

{% block body %}
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
    </thead>
     <tbody>  
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td><pre>{{ post.url }}</pre></td>
                <td>
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('post_delete', {'id': post.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
