<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuPost" aria-expanded="true"
            aria-controls="collapseOne">
            <i class="fas fa-fw fa-list"></i>
            <span>Posts</span>
        </a>
        <div id="menuPost" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner">
                <a class="collapse-item" href="{{path('list_post')}}"><i class="fas fa-fw fa-list"></i> List posts</a>
                <a class="collapse-item" href="{{path('add_post')}}"><i class="fas fa-fw fa-plus"></i> Add post</a>
            </div>
        </div>
    </li>
        <!-- Divider -->
    <hr class="sidebar-divider" />
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuCategory" aria-expanded="true"
            aria-controls="collapseOne">
            <i class="fas fa-fw fa-list"></i>
            <span>Categories</span>
        </a>
        <div id="menuCategory" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner">
                <a class="collapse-item" href="{{path('list_category')}}"><i class="fas fa-fw fa-list"></i> List categories</a>
                <a class="collapse-item" href="{{path('add_category')}}"><i class="fas fa-fw fa-plus"></i> Add category</a>
            </div>
        </div>
    </li>
 
    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>