{% extends 'admin.html.twig' %}

{% block title %}List of Posts{% endblock %}

{% block body %}
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
