{% extends 'admin.html.twig' %}

{% block title %}List of categories{% endblock %}

{% block body %}
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
     <tbody>  
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                 <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
