{% extends "base.html.twig" %}

{% block title %}Welcome homepage!{% endblock %}

{% block body %}
 <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    {% for post in latestPosts %}
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">{{post.title}}</h2>
                        <p>{{post.body|u.truncate(100, "...", false)}}</p>
                        <a class="text-decoration-none" href="{{ path('main_url', {'url': post.url}) }}">
                            Read more
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
 </section>
{% endblock %}
